
/* resource = https://animation.ibelick.com/ */
.fadeIn, .active { animation: fadeIn 1s forwards; }
.fadeOut { animation: fadeOut .6s forwards; }
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; display: none; } }

.fadeInUp { animation: fadeInUp 1s forwards; }
.fadeOutUp { animation: fadeOutUp .6s forwards; }
@keyframes fadeInUp { 0% { opacity: 0; transform: translateY(30px); } 100% { opacity: 1; transform: translateY(0); } }
@keyframes fadeOutUp { 0% { opacity: 1; transform: translateY(0); } 100% { opacity: 0; display: none; transform: translateY(-30px); } }

.fadeInDown { animation: fadeInDown 1s forwards; }
.fadeOutDown { animation: fadeOutDown .6s forwards; }
@keyframes fadeInDown { 0% { opacity: 0; transform: translateY(-30px); } 100% { opacity: 1; transform: translateY(0); } }
@keyframes fadeOutDown { 0% { opacity: 1; transform: translateY(0); } 100% { opacity: 0; display: none; transform: translateY(30px); } }

.slideIn { animation: slideIn 1s forwards; }
.slideOut { animation: slideOut 1s forwards; }
@keyframes slideIn { 0% { transform: translateX(-100%); } 100% { transform: translateX(0%); } }
@keyframes slideOut { 0% { transform: translateX(0%); } 100% { transform: translateX(-100%); display: none; } }

.slideInRight { animation: slideInRight 1s forwards; }
.slideOutRight { animation: slideOutRight 1s forwards; }
@keyframes slideInRight { 0% { transform: translateX(100%); } 100% { transform: translateX(0%); } }
@keyframes slideOutRight { 0% { transform: translateX(0%); } 100% { transform: translateX(100%); display: none; } }

.resize:hover { animation: resize .5s forwards; }
@keyframes resize { 0% { transform: scale(.9); } 100% { transform: scale(1.2); } }

.flipHorizontal { animation: flipHorizontal 1s ease-in-out; }
@keyframes flipHorizontal { 0% { transform: rotateY(0deg); } 100% { transform: rotateY(180deg); } }

.pulse { animation: pulse 1s ease-in-out; }
@keyframes pulse {
    0% { transform: scale(1); }
    25% { transform: scale(.9); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.jiggle { animation: jiggle .5s ease-in-out; }
@keyframes jiggle {
    0% { transform: rotate(-4deg); }
    50% { transform: rotate(4deg); }
    100% { transform: rotate(-4deg); }
}

.shake { animation: shake 1s ease-in-out; }
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.jump { animation: jump 1s ease-in-out; }
@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
