/* Inputs Block */
.ui-blocks { display: flex; flex-wrap: wrap; gap: .5rem; align-items: stretch; }
.ui-block { max-width: 500px; padding: 4px; }
.ui-block-main { margin: auto; padding: 4px; flex-grow: 1; }
.ui-block-md { min-width: 200px; max-width: 320px; padding: 4px; flex-grow: 1; }
.ui-block-lg { min-width: 200px; max-width: 400px; padding: 4px; flex-grow: 1; }
.ui-block-xl { min-width: 300px; max-width: 600px; padding: 4px; flex-grow: 1; }
.ui-block-box { min-width: 250px; padding: 4px; border: 1px solid black; }
.ui-block-row { width: 100%; padding: 4px; }
.ui-block-break { flex-basis: 100%; }
.ui-block-btn { margin-top: 16px; }
/* Inputs Block */

/* Labels */
.label { font-weight: 700; font-size: 0.875rem/* 14px */; line-height: 1.25rem/* 20px */; color: rgb(17 24 39)/* text-gray-900 */; }
.label.required:after { color: #e32; content: " *"; }
:is(.dark .label) { color: white; }
/* Labels */

/* Inputs */
.ui-input {
    width: 100%; height: 36px; padding: .4em;
    transition: border-color 0.3s, box-shadow 0.3s;
    border-radius: 3px; border: 2px solid rgb(209 213 219)/* gray-300 */;
    outline: 2px solid transparent; outline-offset: 2px;
    font-size: 0.875rem/* 14px */; line-height: 1.25rem/* 20px */;
    color: rgb(17 24 39)/* text-gray-900 */;
    background-color: white; cursor: auto;
}
.ui-input:focus { border-color: rgb(147 197 253)/* blue-300 */; }
:is(.dark .ui-input) { color: white; background-color: rgb(55 65 81)/* gray-700 */; border-color: rgb(75 85 99)/* gray-600 */; }
:is(.dark .ui-input):focus { border-color: rgb(147 197 253)/* blue-300 */; }

.ui-check { margin: 0 1px; }
.ui-toggle {
    appearance: none;
    position: relative;
    display: inline-block;
    background: lightgrey;
    height: 1.65rem;
    width: 2.75rem;
    vertical-align: middle;
    border-radius: 2rem;
    box-shadow: 0px 1px 3px #0003 inset;
    transition: 0.25s linear background;
    cursor: pointer;
}
.ui-toggle::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: #fff;
    border-radius: 1.2rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    box-shadow: 0px 1px 3px #0003;
    transition: 0.25s linear transform;
    transform: translateX(0rem);
}
.ui-toggle:checked { background: green; }
.ui-toggle:checked::before { transform: translateX(1rem); }
  
.ui-bool, .ui-xs { width: 50px; }
.ui-time, .ui-sm { width: 90px; }
.ui-date, .ui-md { width: 140px; }
.ui-integer, .ui-float { width: 130px; text-align: right; }
.ui-ta { min-height: 36px; max-height: 100px; resize: vertical; form-sizing: content; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { margin-left: .5em; }
.disabled, .readonly { opacity: 0.5; pointer-events: none; text-decoration: none; }

.ui-icon-block { position: relative; }
.ui-icon-left {
    position: absolute; top: 34px; left: 0; height: 40px; /* same height than ui-input */
    padding-left: 0.75rem/* 12px */; 
    color: rgb(107 114 128)/* gray-500 */;
}
.ui-icon-left + input { padding-left: 30px; }
:is(.dark .ui-icon-left) { color: rgb(243 244 246)/* gray-100 */; }
.ui-icon-right {
    position: absolute; top: 34px; right: 0; height: 40px; /* same height than ui-input */
    padding-right: 0.75rem/* 12px */;
    color: rgb(107 114 128)/* gray-500 */;
}
.ui-icon-right + input { padding-right: 30px; }
:is(.dark .ui-icon-right) { color: rgb(243 244 246)/* gray-100 */; }

.ui-error { border: 2px solid #dc3545 !important; }
.ui-error:focus { border: 2px solid tomato !important; --tw-ring-opacity: 0 !important; }
.ui-errtip { margin-top: 0; font-size: 0.75rem/* 12px */; line-height: 1rem/* 16px */; font-style: italic; color: rgb(239 68 68)/* red-500 */; }
/* Inputs */

/* Autocomplete */
.autocomplete { position: relative; }
.autocomplete label { display: block; }
.autocomplete .results { width: 100%; } /* same width than ui-input */
.autocomplete ul {
	position: absolute; margin: 0; padding: 0; z-index: 3;
	background-color: rgb(229 231 235)/* gray-200 */;
}
:is(.dark .autocomplete ul) { color: white; background-color: rgb(55 65 81)/* gray-700 */; }
.autocomplete li { padding: 3px; list-style: none; cursor: pointer; }
.autocomplete li:hover, .autocomplete  li.active {
    color: rgb(55 65 81)/* gray-700 */; background-color: white; animation: none;
}
/* Autocomplete */

/* Buttons */
.btn {
	display: inline-flex; align-items: center; gap: 4px; height: 24px; margin-right: 3px; padding: .6rem 1rem;
	font-weight: 500; font-size: 0.875rem/* 14px */; line-height: 1.25rem/* 20px */;
	border-width: 1px; border-radius: 0.25rem/* 4px */; text-decoration: none;
    outline: 2px solid transparent; outline-offset: 2px;
}
.btn-primary { color: white; background-color: rgb(37 99 235)/* blue-600 */; border-color: rgb(37 99 235)/* blue-600 */; }
.btn-primary:hover { background-color: rgb(30 64 175)/* blue-800 */; }
:is(.dark .btn-primary) { background-color: rgb(37 99 235)/* blue-600 */; }
:is(.dark .btn-primary:hover) { background-color: rgb(29 78 216)/* blue-700 */; }

.btn-info { color: white; background-color: rgb(514 165 233)/* sky-500 */; border-color: rgb(14 165 233)/* sky-500 */; }
.btn-info:hover { background-color: rgb(7 89 133)/* sky-800 */; }
:is(.dark .btn-info) { background-color: rgb(2 132 199)/* sky-600 */; }
:is(.dark .btn-info:hover) { background-color: rgb(3 105 161)/* sky-700 */; }

.btn-secondary { @apply bg-yellow-400 text-gray-900 bg-white border-gray-300 hover:bg-gray-100 focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 }
.btn-light { @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 }

.btn-green { color: white; background-color: rgb(22 163 74)/* green-600 */; border-color: rgb(22 163 74)/* green-600 */; }
.btn-green:hover { background-color: rgb(21 128 61)/* green-700 */; }
:is(.dark .btn-green) { background-color: rgb(22 163 74)/* green-600 */; }
:is(.dark .btn-green:hover) { background-color: rgb(21 128 61)/* green-700 */; }

.btn-success { color: white; background-color: rgb(5 150 105)/* emerald-600 */; border-color: rgb(5 150 105)/* emerald-600 */; }
.btn-success:hover { background-color: rgb(6 95 70)/* emerald-800 */; }
:is(.dark .btn-success) { background-color: rgb(5 150 105)/* emerald-600 */; }
:is(.dark .btn-success:hover) { background-color: rgb(4 120 87)/* emerald-700 */; }

.btn-warn { color: rgb(254 249 195)/* yellow-100 */; background-color: rgb(133 77 14)/* yellow-800 */; border-color: rgb(133 77 14)/* yellow-800 */; }
.btn-warn:hover { background-color: rgb(113 63 18)/* yellow-900 */; }
:is(.dark .btn-warn) { background-color: rgb(133 77 14)/* yellow-800 */; }
:is(.dark .btn-warn:hover) { background-color: rgb(161 98 7)/* yellow-700 */; }

.btn-error { color: white; background-color: rgb(185 28 28)/* red-700 */; border-color: rgb(185 28 28)/* red-700 */; }
.btn-error:hover { background-color: rgb(153 27 27)/* red-800 */; }
:is(.dark .btn-error) { background-color: rgb(220 38 38)/* red-600 */; }
:is(.dark .btn-error:hover) { background-color: rgb(185 28 28)/* red-700 */; }

.btn-danger { color: white; background-color: rgb(102 27 38)/* mexican-red-700 */; border-color: rgb(102 27 38)/* mexican-red-700 */; }
.btn-danger:hover { background-color: rgb(74 20 32)/* mexican-red-800 */; }
:is(.dark .btn-danger) { background-color: rgb(131 35 42)/* mexican-red-600 */; }
:is(.dark .btn-danger:hover) { background-color: rgb(102 27 38)/* mexican-red-700 */; }

.btn-dark { color: white; background-color: rgb(31 41 55)/* gray-800 */; border-color: rgb(31 41 55)/* gray-800 */; }
.btn-dark:hover { background-color: rgb(17 24 39)/* gray-900 */; }
:is(.dark .btn-dark) { background-color: rgb(31 41 55)/* gray-800 */; }
:is(.dark .btn-dark:hover) { background-color: rgb(55 65 81)/* gray-700 */; }

.btn-icon-left { margin-right: 6px; }
.btn-icon-right { margin-left: 6px; }
/* Buttons */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.ui-block-md, .ui-block-lg, .ui-block-xl { min-width: 100%; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
