
* { margin: 0; }
html { color-scheme: dark light; font-family: system-ui, sans-serif; color: #13151A; background-color: rgb(249 250 251); }
html.dark { color: rgb(249 250 251)/* gray-50 */; background-color: #13151A; }

main {
    margin: auto; padding: 1rem;
    width: 80%; max-width: calc(100% - 2rem);
}

hr { margin: 15px 0; border-top: 1px solid skyblue; }
hr.slim { margin: 1px; border-top: 1px solid #ccc; }
:is(.dark hr) { border-color: #ccc; }

/* TABLES */
table { margin: 10px auto; width: 100%; border-collapse: collapse; opacity: .9; }
thead { border-bottom: 1px dashed black; }
:is(.dark thead) { border: white; }
th { padding: 2px; }

tbody td.no-data { padding: 1rem; text-align: center; }
tr.tb-data:nth-child(odd) { background-color: rgb(249 250 251)/* gray-50 */; }
:is(.dark tr.tb-data:nth-child(odd)) { background-color: rgb(55 65 81)/* gray-700 */; }
tr.tb-data:nth-child(even) { background-color: rgb(229 231 235)/* gray-200 */; }
:is(.dark tr.tb-data:nth-child(even)) { background-color: rgb(31 41 55)/* gray-800 */; }
tr.tb-data:hover { background-color: rgb(209 213 219)/* gray-300 */ }
:is(.dark tr.tb-data:hover) { background-color: rgb(75 85 99)/* gray-600 */; }

tfoot { font-weight: bold; border-top: 1px dashed black; }
:is(.dark tfoot) { border: white; }

.sort {
	display: inline-block; margin-left: 5px; width: 40px;
	font-size: x-large; text-decoration: none;
}
.sort-none:after { content: "\25B4\25BE"; }
.sort-desc:after { content: "\25BE"; }
.sort-asc:after { content: "\25B4"; }
/* TABLES */

/* Actions */
.action { display: inline-block; margin-right: 6px; }
.text-xl { font-size: x-large; font-weight: bold; text-transform: uppercase; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-blue { color: rgb(59 130 246); fill: rgb(59 130 246)/*blue-500*/; }
.text-blue:hover { color: rgb(30 64 175); fill: rgb(30 64 175)/*blue-800*/; }
:is(.dark .text-blue:hover) { color: rgb(147 197 253); fill: rgb(147 197 253)/*blue-300*/; }

.text-green { color: rgb(34 197 94)/*green-500*/; }
.text-green:hover { color: rgb(22 101 52)/*green-800*/; }
:is(.dark .text-green:hover) { color: rgb(187 247 208)/*green-300*/; }

.text-warn { color: rgb(234 179 8)/*yellow-500*/; }
.text-warn:hover { color: rgb(133 77 14)/*yellow-800*/; }
:is(.dark .text-warn:hover) { color: rgb(253 224 71)/*yellow-300*/; }

.text-red { color: rgb(239 68 68)/*red-500*/; }
.text-red:hover { color: rgb(153 27 27)/*red-800*/; }
:is(.dark .text-red:hover) { color: rgb(248 113 113)/*red-400*/; }
/* Actions */

/* Specific styles */
.hide { display: none !important; } /* force display none */
.navbar { margin: 4px 0; padding: 4px; display: inline-block; width: 100%; clear: both; }

.link { color: rgb(37 99 235); text-decoration-line: underline; }
.link:hover { text-decoration-line: none; }
:is(.dark .link) { color: rgb(147 197 253); }
/* Specific styles */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.hide-xs, .hide-sm, .hide-md, .hide-lg { display: none; }
    .action { font-size: large; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.hide-sm, .hide-md, .hide-lg, .show-xs { display: none; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.hide-md, .hide-lg, .show-xs, .show-sm { display: none; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	.hide-lg, .show-xs, .show-sm, .show-md { display: none; }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.hide-xl, .show-xs, .show-sm, .show-md, .show-lg { display: none; }
}
