/* Alerts */
.alerts { position: fixed; top: 3rem; right: 1em; width: 45%; z-index: 9; }
.alert { display: flex; gap: .5rem; align-items: center; margin: 1rem/* 16px */; padding: 1rem/* 16px */; border-radius: 0.5rem/* 8px */; border-width: 1px; }

.alert-icon { width: 1.5rem/* 24px */; height: 1.5rem/* 24px */; }
.alert-text { flex-grow: 1; margin: 0 0.75rem/* 12px */; font-weight: 500; }
.alert-close { height: 2rem/* 32px */; width: 2rem/* 32px */; padding: 0.5rem/* 8px */; border-radius: 0.5rem/* 8px */; }

.alert-info { @apply text-blue-800 border-blue-300 bg-blue-50 dark:text-blue-400 dark:border-blue-800 dark:bg-gray-800 }
.alert-note { @apply text-sky-800 border-sky-300 bg-sky-50 dark:text-sky-400 dark:border-sky-800 dark:bg-gray-800 }
.alert-warn { @apply text-yellow-800 border-yellow-300 bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 }
.alert-error { @apply text-red-800 border-red-300 bg-red-50 dark:text-red-400 dark:border-red-800 dark:bg-gray-800 }
.alert-danger { @apply text-mexican-red-800 border-mexican-red-300 bg-mexican-red-50 dark:text-mexican-red-400 dark:border-mexican-red-800 dark:bg-gray-800 }
.alert-dark { @apply text-gray-800 border-gray-400 bg-gray-50 dark:text-gray-300 dark:bg-gray-800 }
/* Alerts */

/* Notices */
.notice { padding: .5rem; border-radius: 3px; border: 1px solid; }

.notice-success { color: rgb(22 101 52) /* green-800 */; border-color: rgb(134 239 172)/* green-300 */; background-color: rgb(240 253 244)/* green-50 */; }
:is(.dark .notice-success) { color: rgb(74 222 128)/* green-400 */; background-color: rgb(31 41 55)/* green-800 */; }

.notice-info { color: rgb(30 64 175) /* blue-800 */; border-color: rgb(147 197 253)/* blue-300 */; background-color: rgb(239 246 255)/* blue-50 */; }
:is(.dark .notice-info) { color: rgb(96 165 250)/* blue-400 */; border-color: rgb(30 64 175)/* blue-800 */; background-color: rgb(31 41 55)/* blue-800 */; }

.notice-warn { color: rgb(133 77 14) /* yellow-800 */; border-color: rgb(253 224 71)/* yellow-300 */; background-color: rgb(254 252 232)/* yellow-50 */; }
:is(.dark .notice-warn) { color: rgb(253 224 71)/* yellow-300 */; border-color: rgb(250 204 21)/* yellow-400 */; background-color: rgb(31 41 55)/* yellow-800 */; }
/* Notices */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.alerts { position: inherit; width: 100%; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.alerts { width: 80%; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.alerts { width: 60%; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
