
/* Alerts */
.alerts { position: fixed; top: 3rem; right: 1em; width: 45%; z-index: 6; }
.alert {
	display: flex; gap: .5rem; align-items: center; margin: 1rem/* 16px */; padding: 1rem/* 16px */; 
	border-radius: 0.5rem/* 8px */; border: 1px solid;
}

.alert-icon { width: 1.5rem/* 24px */; }
.alert-text { flex-grow: 1; }
.alert-close { cursor: pointer; }

.alert-ok { color: rgb(17 94 89) /* teal-800 */; border-color: rgb(94 234 212)/* teal-300 */; background-color: rgb(240 253 250)/* teal-50 */; }
:is(.dark .alert-ok) { color: rgb(45 212 191)/* teal-400 */; background-color: rgb(31 41 55)/* gray-800 */; }
.alert-green { color: rgb(22 101 52) /* green-800 */; border-color: rgb(134 239 172)/* green-300 */; background-color: rgb(240 253 244)/* green-50 */; }
:is(.dark .alert-green) { color: rgb(74 222 128)/* green-400 */; background-color: rgb(31 41 55)/* gray-800 */; }
.alert-success { color: rgb(6 95 70) /* emerald-800 */; border-color: rgb(110 231 183)/* emerald-300 */; background-color: rgb(236 253 245)/* emerald-50 */; }
:is(.dark .alert-success) { color: rgb(52 211 153)/* emerald-400 */; background-color: rgb(31 41 55)/* gray-800 */; }
.alert-info { color: rgb(30 64 175) /* blue-800 */; border-color: rgb(147 197 253)/* blue-300 */; background-color: rgb(239 246 255)/* blue-50 */; }
:is(.dark .alert-info) { color: rgb(96 165 250)/* blue-400 */; border-color: rgb(30 64 175)/* blue-800 */; background-color: rgb(31 41 55)/* gray-800 */; }
.alert-note { color: rgb(7 89 133) /* sky-800 */; border-color: rgb(125 211 252)/* sky-300 */; background-color: rgb(240 249 255)/* sky-50 */; }
:is(.dark .alert-note) { color: rgb(56 189 248)/* sky-400 */; border-color: rgb(7 89 133)/* sky-800 */; background-color: rgb(31 41 55)/* gray-800 */; }
.alert-warn { color: rgb(133 77 14) /* yellow-800 */; border-color: rgb(253 224 71)/* yellow-300 */; background-color: rgb(254 252 232)/* yellow-50 */; }
:is(.dark .alert-warn) { color: rgb(253 224 71)/* yellow-300 */; border-color: rgb(250 204 21)/* yellow-400 */; background-color: rgb(31 41 55)/* gray-800 */; }
.alert-error { color: rgb(153 27 27) /* red-800 */; border-color: rgb(252 165 165)/* red-300 */; background-color: rgb(254 242 242)/* red-50 */; }
:is(.dark .alert-error) { color: rgb(248 113 113)/* red-400 */; border-color: rgb(153 27 27)/* red-800 */; background-color: rgb(31 41 55)/* gray-800 */; }
.alert-danger { color: rgb(74 20 32) /* mexican-800 */; border-color: rgb(216 123 108)/* mexican-400 */; background-color: rgb(248 235 228)/* mexican-100 */; }
:is(.dark .alert-danger) { color: rgb(203 70 59)/* mexican-400 */; border-color: rgb(74 20 32)/* mexican-600 */; background-color: rgb(31 41 55)/* gray-800 */; }
.alert-dark { color: rgb(31 41 55) /* gray-800 */; border-color: rgb(156 163 175)/* gray-400 */; background-color: rgb(243 244 246)/* gray-100 */; }
:is(.dark .alert-dark) { color: rgb(209 213 219)/* gray-300 */; border-color: rgb(75 85 99)/* gray-600 */; background-color: rgb(31 41 55)/* gray-800 */; }
/* Alerts */

/* Loading */
.loading { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 8; background-color: white; opacity: .7; }
.loading-content { position: absolute; top: 50%; left: 50%; color: lightskyblue; text-align: center; z-index: 9; }
/* Loading */

/* Back to top icon */
.back-to-top {
	position: fixed; bottom: 25px; right: 25px; padding: .6em; opacity: .8;
	color: #333; border-radius: .3rem; background-color: rgb(229 231 235)/* gray-200 */; }
.back-to-top:hover { background-color: rgb(209 213 219)/* gray-300 */; }
:is(.dark .back-to-top) { color: rgb(229 231 235)/* gray-200 */; background-color: rgb(107 114 128)/* gray-500 */; }
:is(.dark .back-to-top:hover) { background-color: rgb(75 85 99)/* gray-600 */; }
/* Back to top icon */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.alerts { position: inherit; width: 100%; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.alerts { width: 80%; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.alerts { width: 60%; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
